MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=maga
MYSQL_PASSWORD=maga123456
MYSQL_DATABASE=maga
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
APP_PORT=5100
VITE_PROXY_TARGET=http://localhost:5100
VITE_APP_TITLE=MAGA Console
